@font-face {
  font-family: "Variable";
  src: url(https://encore.scdn.co/fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2);
}

@font-face {
  font-family: "Regular";
  src: url(//encore.scdn.co/fonts/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2);
}

@font-face {
  font-family: "Bold";
  src: url(https://encore.scdn.co/fonts/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
}

.open-button {
  padding: 7px 16px;
  border: none;
  border-radius: 28px;
  background-color: white;
  font-family: bold;
  font-size: 13px;
  height: 32px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 56px;
  z-index: 2;
  box-sizing: border-box;
  padding: 16px;
  background-color: rgb(0, 0, 0, 0.5);
}

.header img {
  height: 24px;
}

.logo-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.header-menu-container {
  display: flex;
  align-items: center;
}

.hamburger-icon {
  margin-inline-start: 16px;
  padding: 4px 0px 0px 0px;
}

.header-section-tab-view {
  display: none;
}

.search-section-container {
  display: none;
}

@media screen and (min-width: 960px) {
  .header-container {
    display: none;
  }

  .header-section-tab-view {
    padding: 8px;
    height: 48px;
    background-color: black;
    display: flex;
  }

  .spotify-logo {
    max-width: fit-content;
    margin: 8px 20px 20px 20px;
  }

  .home-search-section {
    display: flex;
    gap: 8px;
    margin-left: 8px;
  }

  .home-search-section .home-search-btn {
    border: none;
    border-radius: 50%;
    padding: 12px;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-actions {
    padding: 2px 0px 2px 0px;
    display: flex;
    gap: 7px;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
  }

  .action-btn {
    color: #b3b3b3;
    font-family: bold;
    text-decoration: none;
    letter-spacing: 0.125px;
  }

  .install-icon {
    display: flex;
    gap: 8px;
    width: 66px;
    justify-content: center;
    padding: 2px 25px 3px 50px;
    white-space: nowrap;
    border-left: 1px solid #f1f1f1;
    margin-left:16px;
  }

  .border-line {
    background-color: #fff;
    height: 25px;
    margin: 16px;
    width: 1px;
  }

  .login-btn {
    padding: 13px 32px;
    background-color: white;
    border: none;
    border-radius: 28px;
    font-size: 16px;
    font-family: bold;
  }

  .install-icon .action-btn {
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 700;
    font-family: regular;
    text-decoration: none;
  }

  .user-action-text {
    font-size: 14px;
    font-family: bold;
    color: #b3b3b3;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0px 0px 0px 13px;
  }

}

@media screen and (min-width: 1069px) {
  .home-search-section .home-search-icon {
    display: none;
  }

  .search-section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 32px;
    padding: 4px 16px 4px 12px;
  }

  .nav-divider {
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    padding: 0px 0px 0px 12px;
  }

  .header-container {
    display: none;
  }

  .search-icon {
    padding: 2px 12px 3px 0px;
  }

  input::placeholder {
    background-color: #1f1f1f;
    color: #b3b3b3;
  }

  .search-input {
    border: none;
    font-size: 16px;
    font-family: "regular";
    text-overflow: ellipsis;
    width: 186px;
    margin: 0px 42px 0px 0px;
  }

  .user-actions {
    overflow: hidden;
    white-space: nowrap;
  }

  .user-action-text {
    padding: 0px 0px 0px 12px;
  }

  .install-icon {
    border-left: 1px solid #f1f1f1;
    padding: 2px 26px 2px 50px;
    margin-left:16px;
  }

}

@media screen and (min-width: 1077px) {
  .search-section-container{
    padding:4px 16px 4px 13px;
  }

  .search-input {
    text-overflow: unset;
    width:193px;
  }

}

@media screen and (min-width: 1548px) {
  .search-section-container{
    padding:4px 16px 4px 12px;
  }

  .search-input{
    width:331px;
  }

}

@media screen and (min-width: 1723px) {
  .home-search-section{
    display:flex;
    justify-content: center;
    position:absolute;
    left:0;
    right:0;
    margin:0;
  }

  .search-input {
   background:transparent;
  }
  
}
 

