@font-face {
    font-family: 'Variable';
    src: url(https://encore.scdn.co/fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2);
}

@font-face {
    font-family: 'Regular';
    src: url(//encore.scdn.co/fonts/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2);
}

@font-face {
    font-family: 'Bold';
    src: url(https://encore.scdn.co/fonts/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
}


.open-button {
    padding: 7px 16px;
    border: none;
    border-radius: 28px;
    background-color: white;
    font-family: bold;
    font-size: 13px;
    transform: translateY(-4px);
}

.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 16px 16px 8px 16px;
    background-color: rgb(0, 0, 0, 0.5);
}

.header img {
    height: 24px;
}

.header-button-section {
    display: flex;
}

.hamburger-icon {
    margin-inline-start: 16px;
}